<!-- <div
  id="g_id_onload"
  data-client_id="353183204872-ukgmdde0itod0ivlnhs7l7knj6is9lme.apps.googleusercontent.com"
  data-context="signin"
  data-ux_mode="popup"
  data-login_uri="http://localhost:4300/login"
  data-auto_prompt="false"
></div>

<div
  class="g_id_signin"
  data-type="standard"
  data-shape="pill"
  data-theme="outline"
  data-text="signin_with"
  data-size="large"
  data-logo_alignment="left"
></div> -->
<!-- <button mat-raised-button>Basic</button> -->
 <app-header></app-header>
<router-outlet></router-outlet>